.mapbox-location-selector {
	background-color: #828;
	color: #ddd;
	border-radius: 5%;
}

.mapbox-location-label {
	color: #828;
	background-color: #000;
	font-size: 1.2em;
	border-radius: 5%;
	padding-left: 1em;
	padding-right: 1em;
}
