.sideways {
	display: block;
	font-size: 0.9em;
	transform: rotate(-90deg) translate(-80%, 100%);
}

@media only screen and (max-width: 1200px) {
	.sideways {
		transform: rotate(-90deg) translate(-150%, 100%);
	}
}

@media only screen and (max-width: 767px) {
	.sideways {
		transform: rotate(-90deg) translate(-50%, 80%);
	}
}

@media only screen and (max-width: 580px) {
	.sideways {
		transform: rotate(-90deg) translate(-100%, 80%);
	}
}

.checkpoint-border {
	padding: 0px;
	border: 2px solid green;
	border-radius: 10px;
}
