.navbar-right {
	display: flexbox;
	margin-left: auto;
}

img.navbar-img {
	height: 40px;
}

table.error-table {
	background-color: red;
	color: black;
	text-emphasis: bold;
	font-size: 1.4rem;
	border-radius: 5px;
}

td.error-type {
	padding-left: 20px;
}

td.error-message {
	padding-right: 20px;
}

#map .location-choices.list {
	display: inline;
	list-style-type: none;
	background-color: black;
	color: white;
	z-index: 10;
}

button.dropdown-selection {
	display: inline-block;
	border: none;
	text-decoration: none;
	background-color: black;
	color: white;
	z-index: 5;
}

input.weather-city {
	font-size: 1.6rem;
}

.css-txt-right {
	text-align: right !important;
}

.css-txt-center {
	text-align: center !important;
}

.bordered-block {
	display: block;
	border: 2px solid #74b3d8;
	border-radius: 5%;
}

/* .location-widget {
	display: block;
	position: absolute;
}
 */
.autocorrect-dropdown {
	display: block;
	/* position: relative; */
	background-color: black;
	color: white;
}

.width-100 {
	width: 100%;
}

/* "info buttons" in this bootstrap theme are more legible with dark color */
button.btn-info {
	color: #111;
}
