.navbar-right {
	display: flexbox;
	margin-left: auto;
}

img.navbar-img {
	height: 40px;
}

table.error-table {
	background-color: red;
	color: black;
	text-emphasis: bold;
	font-size: 1.4rem;
	border-radius: 5px;
}

td.error-type {
	padding-left: 20px;
}

td.error-message {
	padding-right: 20px;
}

#map .location-choices.list {
	display: inline;
	list-style-type: none;
	background-color: black;
	color: white;
	z-index: 10;
}

button.dropdown-selection {
	display: inline-block;
	border: none;
	text-decoration: none;
	background-color: black;
	color: white;
	z-index: 5;
}

input.weather-city {
	font-size: 1.6rem;
}
