img#navbar-logo {
	height: 40px;
}

/* input[type=checkbox]#weather-units {
	visibility: hidden;
}

.weather-units-checkbox {
	width: 40px;
	height: 10px;
	background: #909;
	margin: 20px 80px;
	position: relative;
	border-radius: 3px;
} */
