<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SaddleTime</title>
  <meta name="title" content="SaddleTime">
  <meta name="author" content="Tor Kingdon">
  <meta name="description" content="Bicycle-Friendly Bicycle Directions">
  <!-- Facebook, LinkedIn -->
  <meta property="og:url" content="https://saddle-time.herokuapp.com/" />
  <meta property="og:title" content="SaddleTime" />
  <meta property="og:description" content="Bicycle-Friendly Bicycle Directions" />
  <meta property="og:site_name" content="SaddleTime" />
  <meta property="og:image" content="static/images/saddletime-full-logo-white-background" />
  <!-- Twitter -->
  <meta property="twitter:card" content="SaddleTime">
  <meta property="twitter:url" content="https://saddle-time.herokuapp.com/">
  <meta property="twitter:title" content="SaddleTime">
  <meta property="twitter:description" content="Bicycle-Friendly Bicycle Directions">
  <meta property="twitter:image" content="/static/images/saddletime-full-logo-white-background">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/static/images/saddletime-fav-icon-32.png">
  <!-- static style -->
  <link rel="stylesheet" href="/static/css/style.css">
  {% block page_sytle %}{% endblock %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Goblin+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
  <!-- Bootstrap -- specifically Bootswatch's Vapor  -->
  <link rel="stylesheet" href="/static/css/bootstrap-bootswatch-vapor.css">
  <!-- override bootstrap's modal behavior that gets in the way of select2 -->
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/93ac9f4afc.js" crossorigin="anonymous"></script>
  <!-- mapbox -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
  <!-- select2 for location selection: -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="/static/js/jquery-3.6.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
  <span id="-106p651c35p0841">find me</span>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top mx-2 px-3 justify-content-between">
      <a class="navbar-brand" href="/"><img src="/static/images/saddletime-full-logo.png" alt="" id="navbar-logo" class="navbar-img"> SaddleTime</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-2"><a href="#">Top</a></li>
          <li><a href="/routes/new" class="px-2">New Route</a></li>
          <!-- <li><a href="/routes" class="px-2">Show Routes</a></li>
          <li><a href="/users" class="px-2">Users</a></li> -->
          <!-- below for possible future development -->
          <!-- probably better to make those anchors into forms that send GET requests to /routes and /checkpoints with userID in the query string -->
          <!-- {% if ('user' in g or not g.user.username == "guest") %}
          <li><a href="/users/{{ g.user.id }}/routes">my routes</a></li>
          <li><a href="/users/{{ g.user.id }}/checkpoints"></a>my checkpoints</li>
          {% endif %} -->
          {% block nav_items %}{% endblock %}
        </ul>
        <ul class="navbar-nav navbar-right">
          {% if (not 'user' in g or g.user.username == "guest") %}
          <li><a href="/login" class="px-2">Log in</a></li>
          <li class="nav-item"><a href="/users/signup" class="px-2">Sign up</a></li>
          {% else %}
          <li class="nav-item">
            <a href="/users/{{ g.user.id }}" class="px-2">
              {% if g.user.profile_pic_image_url %}
              <img src="{{ g.user.profile_pic_image_url }}" class="navbar-img" alt="{{ g.user.username }}">
              {% else %}
              {{ g.user.username}}
              {% endif %}
            </a>
          </li>
          <li><a href="/logout" class="px-2">Log out</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-center p-1 m-1 mt-3">
        <h1 class="text-center">{% block header %}{% endblock %}</h1>
      </div>
    </div>
    <div class="container" id="flashes">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="row justify-content-center pb-5">
        {% for category, message in messages %}
        <div class="col text-center">
          <span class="border border-{{category}} rounded bg-dark p-2">
            <tag class="m-2 text-{{ category }} font-weight-bold">{{message}}</tag>
          </span>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
    </div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <!-- boostrap scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Tor's scripts: -->
  {% block scripts_before %}{% endblock %}
  <script src="/static/js/app.js"></script>
  <!-- <script src="/static/js/tests/app.test.js"></script> -->
  {% block scripts_after %}{% endblock %}
</body>
</html>