{% extends 'base.html' %}

{% block header %}SaddleTime{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-12 col-md-8">
      <span class="d-none"></span>
      <table class="table table-dark table-striped rounded">
        <thead>
          <tr>
            <th class="pt-4 my-3">
              <div class="row justify-content-left">
                <div class="col align-self-start">
                  Your current weather in 
                </div>
                <div class="col align-self-start">
                  <!-- this button and form handled in app.js -->
                  <button class="weather-city" id="weather-city"><b>{{ city }}</b></button>
                  <form id="change-city" class="d-inline">
                    <input type="text" id="weather-city-input" class="weather-city d-none" placeholder="enter locatoin">
                  </form>
                  <br>
                  <small class="text-muted weather-city message-or-use-location"><i>click city to change</i></small>
                  <button class="weather-city location-button message-or-use-location d-none" id="use-location"><small><i>or click here to get location from browser</i></small></button>
                </div>
              </div>
            </th>
            <th class="form-floating">
              <!-- this form in Python/Flask -->
              <form action="/" method="POST" id="weather-units" class="d-inline">
                <input type="text" hidden id="citySelected" value={{ city }}>
                <select class="form-select py-0 my-0 px-4 bg-info" id="unitSelect" aria-label="Floating label select example">
                  {% if weather_units == 'imperial' %}
                    <option value="metric">℃/kmph</option>
                    <option selected value="imperial">℉/mph</option>
                  {% else %}
                    <option selected value="metric">℃/kmph</option>
                    <option value="imperial">℉/mph</option>
                  {% endif %}
                </select>
              </form>
            </th>
          </tr>
          <tr>
            <th class="h3">{{ conditions }} </th>
            <th><img src="{{ weather_icon_url }}" alt="{{ conditions }} icon"></th>
          </tr>
        </thead>
        <tbody>
          {% for key in current_weather_details.keys() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ current_weather_details[key] }}{% if key=="description" %}<img src="{{ weather_icon_url }}">{% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col col-12 col-md-4">
      <!-- if no user logged in: -->
      <div class="row">
        <form action=""></form>
      </div>
      <div class="row m-5"><br></div>
      <div class="row justify-content-center">
        <a href="/login" class="d-block btn btn-block btn-primary m-2">make route as guest</a>
      </div>
      <div class="row justify-content-center">
        <div class="col col-6">
          <a href="/login" class="d-block btn btn-block btn-info ml-2 my-2">login</a>
        </div>
        <div class="col col-6">
          <a href="/login" class="d-block btn btn-block btn-success my-2 mr-2">sign-up</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}