{% extends 'base.html' %}
{% from 'macros.html' import mapbox, weather_info %}
{% block page_sytle %}
  <link rel="stylesheet" href="static/css/weather.css">
  <link rel="stylesheet" href="static/css/location.css">
{% endblock %}
{% block header %}SaddleTime{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <span class="d-none"></span>
      {{ weather_info(weather, location, weather_units) }}
    </div>
    <div class="col">
        <div class="row justify-content-center">
          <form action="/routes/new" method="GET" id="new-route-form">
            <input type="text" readonly class="d-none" id="map-center-lat" name="0-lat" value="{{ lat }}">
            <input type="text" readonly class="d-none" id="map-center-lng" name="0-lng" value="{{ lng }}">
            <input type="text" readonly class="d-none" id="units" name="units" value="{{ weather_units }}">
            <button type="submit" class="d-block btn btn-block btn-primary m-2 width-100" id="new-route-button">make new route{% if (not "user" in g) %} as guest{% endif %}</button>
          </form>
        </div>
        {% if (not "user" in g) %}
          <div class="row justify-content-center">
            <div class="col col-6">
              <a href="/login" class="d-block btn btn-block btn-info ml-2 my-2">log in</a>
            </div>
            <div class="col col-6">
              <a href="/users/signup" class="d-block btn btn-block btn-success my-2 mr-2">sign up</a>
            </div>
          </div>
        {% endif %}
        <div class="row justify-content-center">
          <div class="col">
            {{ mapbox(lng, lat, 12, medium, "urhere") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts_after %}
  <!-- <script src="/static/js/mapbox.js"></script> -->
  <!-- TODO: probably have some refactoring to do when I get mapbox.js working for the autocomplete location field -->
  <script src="/static/js/weather.js"></script>
{% endblock %}