{% extends 'base.html' %}
{% block header %}SaddleTime Login{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-6 col-lg-4">
            <form action="/login" method="POST" novalidate>
                <table class="table table-info">
                    {% for field in form 
                        if field.widget.input_type != 'hidden' %}
                        {{ form.hidden_tag() }}
                        <tr class="form-group">
                            <td>
                                {{ field.label(class_="") }}
                                {% if field.flags.required %}
                                <sup class="text-warning">*</sup>
                                {% endif %}
                            </td>
                            <td>{{ field(class_="rounded bg-dark text-light") }}</td>
                            <td>
                                {% for err in field.errors %}
                                    {{ err }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %} 
                    <tr>
                        <td colspan="3"><sup class="text-warning">*</sup> indicates required field</td>
                    </tr>
                </table>
                <input type="hidden" id="alt_destination" value={{ alt_destination }}>
                <button class="btn btn-primary d-inline m-2">log in</button>
                <span>or <a href="/users/signup" class="d-inline btn btn-outline-secondary rounded m-2 pb-2">sign up</a> as new user</span>
            </form>
        </div>
    </div>
  </div>
{% endblock %}