{% macro mb_geocoder() %}
{% endmacro %}

{% macro mapbox(lng, lat, zoom, size) %}
<div id='map' class='{{ size }}'>
  <ul hidden>
    <li id="map-lat">{{ lat }}</li>
    <li id="map-lng">{{ lng }}</li>
    <li id="map-zoom">{{ zoom }}</li>
  </ul>
</div>
<script src="/static/js/mapbox.js"></script>
{% endmacro %}

{% macro checkpoint_form( form, index ) %}
<div class="row justify-content-center checkpoint-rows" id="cpr-{{ index }}-row">
  <div class="col col-1">
    {% if index == 0 %}
      <p class="sideways">START</p>
    {% elif index == 999 %}
      <br>
      <p class="sideways">END</p>
    {% endif %}
  </div>
  <div class="col col-1">
    {% if index == 0 %}
      <br>
    {% else %}
      <button class="arrows"><i class="far fa-arrow-alt-circle-up"></i></button>
    {% endif %}
    <br>
    {% if index == 999 %}
      <br>
    {% else %} 
      <button class="arrows"><i class="far fa-arrow-alt-circle-down"></i></button>
    {% endif %}
  </div>
  <div class="col col-10">
    <form action="" id="cpf-{{ index }}-checkpoint-form">
      <div class="bordered-block">
        <!-- Ashir's computer is breaking here with a NoneType on form being non-iterable -->
        {% for field in form 
          if field.widget.input_type != 'hidden' %}
          {{ form.hidden_tag() }}
          {{ field (class_="bg-dark text-light checkpoint-location location-field form-field form-control") }}
          {% for err in field.errors %}
          {{ err }}
          {% endfor %}
          {% endfor %}
        </div>
    </form>
  </div>
</div>
{% endmacro %}

{% macro new_checkpoint() %}
  <div class="row justify-content-center checkpoint-rows checkpoint-rows" id="cpr-{{index}}-row">
    <div class="col col-2"></div>
    <div class="col col-10">
        <button class="btn btn-outline-secondary btn-sm d-inline-block mt-2 py-0" id="new-checkpoint">insert new checkpoint here</button>
    </div>
  </div>
{% endmacro %}

{% macro weather_info(weather, location, weather_units) %}
  <table class="table table-dark table-striped rounded" id="weather-table">
    <thead>
      <tr id="weather-header-selectors">
        <th class="pt-4 my-3">
          <div class="row justify-content-left">
              <div id="weather-header" class="location-widget">
                <p>Current weather in:</p>
                <label for="weather-selector" class="location-field mapbox-location-label form-label" id="weather-city">{{ weather.city }}</label>
                <select name="location" id="weather-selector" class="mapbox-location-selector form-control">
                  <option value="{{ lat }}, {{ lng }}">{{ location }}</option>
                </select>
                <!-- {% for field in form 
                  if field.widget.input_type != 'hidden' %}
                  {{ form.hidden_tag() }}
                  {{ field.label (class_="bg-primary text-light form-label") }}
                  {{ field (class_="bg-primary text-light location-field mapbox-location-selector form-field form-control") }}
                  {% for err in field.errors %}
                    {{ err }}
                  {% endfor %}
                {% endfor %} -->
                <p id="geocodeLng" hidden>{{ lng }}</p>
                <p id="geocodeLat" hidden>{{ lat }}</p>
                <small class="text-muted h5" id="weather-city-directions">
                  <!-- <i>click city to change</i> -->
                  <!-- or <button id="browser-location-select" class="">click here to use broswer location</button> -->
                </small>
              </div>
          </div>
        </th>
        <th class="form-floating">
          <!-- this form in Python/Flask -->
          <form action="/" method="POST" id="weather-units" class="d-inline">
            <select id="units-selector" class="form-select py-0 my-0 px-4 bg-info" id="unitSelect" aria-label="Floating label select example">
              {% if weather_units == 'imperial' %}
                <option class="metric-option" value="metric">℃/kmph</option>
                <option class="imperial-option" selected value="imperial">℉/mph</option>
              {% else %}
                <option class="metric-option" selected value="metric">℃/kmph</option>
                <option class="imperial-option" value="imperial">℉/mph</option>
              {% endif %}
            </select>
          </form>
        </th>
      </tr>
      <tr id="weather-conditions-row">
        <th class="h3" id="weather-conditions">{{ weather['conditions'] }} </th>
        <th id="weather-icon"><img src="{{ weather['weather_icon_url'] }}" /></th>
      </tr>
    </thead>
    <tbody id="weather-details">
      {% for key in weather['current_weather_details'].keys() %}
      <tr>
        <td class="weather-detail-key">{{ key }}</td>
        <td class="weather-detail-value">{{ weather['current_weather_details'][key] }}{% if key=="description" %}<img src="{{ weather['weather_icon_url'] }}">{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}