{% macro mb_geocoder() %}
{% endmacro %}

{% macro mapbox(lat, lng, zoom, size) %}
<div id='map' class='{{ size }}'>
  <ul hidden>
    <li id="map-lat">{{ lat }}</li>
    <li id="map-lng">{{ lng }}</li>
    <li id="map-zoom">{{ zoom }}</li>
  </ul>
</div>
<script src="/static/js/mapbox.js"></script>
{% endmacro %}

{% macro checkpoint_form(form, index) %}
<div class="row justify-content-center checkpoint-rows" id="cpr-{{ index }}-row">
  <div class="col col-1">
    <p class="sideways">{% if index == 0 %}START{% elif index == 999 %}END{% endif %}</p>
  </div>
  <div class="col col-1">
    <br>
    {% if index == 0 %}
      <br>
    {% else %}
      <button class="arrows"><i class="far fa-arrow-alt-circle-up"></i></button>
    {% endif %}
    <br>
    {% if index == 999 %}
      <br>
    {% else %} 
      <button class="arrows"><i class="far fa-arrow-alt-circle-down"></i></button>
    {% endif %}
  </div>
  <div class="col col-10">
    <form action="" id="cpf-{{ index }}-checkpoint-form">
      {% for field in form 
        if field.widget.input_type != 'hidden' %}
        {{ form.hidden_tag() }}
        {{ field.label }}
        {{ field (class_="rounded bg-dark text-light location-field form-field form-control") }}
        {% for err in field.errors %}
        {{ err }}
        {% endfor %}
      {% endfor %}
    </form>
  </div>
</div>
{% endmacro %}