{% extends 'base.html' %}
{% from 'macros.html' import mapbox %}
{% from 'macros.html' import checkpoint_form, new_checkpoint %}

{% block header %}Make a new SaddleTime Route{% endblock %}
{% block page_sytle %}
  <link rel="stylesheet" href="/static/css/route-form.css">
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col col-12 col-md-5">
      <form action="" id="route-form">
        {% for field in route_form 
          if field.widget.input_type != 'hidden' %}
          {{ route_form.hidden_tag() }}
          <div class="form-group">
            {{ field.label }}
            {{ field (class_="rounded bg-dark text-light form-field form-control") }}</td>
            {% for err in field.errors %}
            {{ err }}
            {% endfor %}
          </div>
          {% endfor %}
        <button type="submit" class="btn btn-primary rounded m-2 px-2">preview route</button>
      </form>
    </div>
    <div class="col col-12 col-md-7">
      {{ checkpoint_form(0)}}

      {{ new_checkpoint() }}
 
      {% for i in range(1, cps+1) %}
      {{ checkpoint_form(i ) }}
      {{ new_checkpoint() }}
      {% endfor %}
      </ul>
      {{ checkpoint_form(999)}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ mapbox (lng, lat, 12, large, "cp0")}}
    </div>
  </div>
{% endblock %}
{% block scripts_after %}
<!-- <script src="/static/js/weather.js"></script> -->
<script src="/static/js/routes.js"></script>
{% endblock %}