{% extends 'base.html' %}
{% from 'macros.html' import mapbox %}
{% from 'macros.html' import checkpoint_form, new_checkpoint %}

{% block header %}Make a new SaddleTime Route{% endblock %}
{% block page_sytle %}
  <link rel="stylesheet" href="/static/css/route-form.css">
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col col-12 col-md-7" id="checkpoint-forms">
      <!-- start checkpoint -->
      {{ checkpoint_form(0, locations[0])}}

      <!-- insert checkpoint button -->
      {{ new_checkpoint(1) }}
 
      <!-- intermediate checkpoints (with new checkpoint button between) -->
      {% for i in range(1, cps+1) %}
        {% if i == new_cp_id %}
          {{ checkpoint_form(i, False)}}
        {% else %}
          {{ checkpoint_form(i, locations[i]) }}
        {% endif %}
        {{ new_checkpoint(i+1) }}
      {% endfor %}

      <!-- end checkpoint -->
      {{ checkpoint_form(999, locations[cps+1])}}
    </div>
    <div class="col col-12 col-md-5">
      <!-- form logic may return in future development -->
      <!-- <form action="" id="route-form">
        {% for field in route_form 
          if field.widget.input_type != 'hidden' %}
          <div class="form-group">
            {{ field.label }}
            {{ field (class_="rounded bg-dark text-light form-field form-control") }}</td>
            {% for err in field.errors %}
            {{ err }}
            {% endfor %}
          </div>
          {% endfor %}
          {{ route_form.hidden_tag() }}
        <button type="submit" class="btn btn-info rounded m-2 px-2">preview route</button>
      </form> -->
      <div class="row justify-content-center mt-5">
        <div class="col col-3 d-none d-md-block"></div>
        <div class="col col-md-6">
          <button id="preview-route" class="btn btn-block btn-info rounded m-2" disabled>preview route</button>
        </div>
        <div class="col col-3 d-none d-md-block"></div>
      </div>
      <div class="row">
        <div class="col col-3 d-none d-md-block"></div>
        <div class="col col-md-6">
          <!-- {% if not "user" in g %}
          <p class="text-info">
            you can save a route if you: 
            <button id="go-login" class="btn btn-block btn-outline-info rounded mx-2 my-1 pt-0 pb-1">login</button>
            or
            <button id="go-signup" class="btn btn-block btn-outline-success rounded mx-2 my-1 pt-0 pb-1">sign up</button>
          </p>
          {% else %}
          <button id="save-route" class="btn btn-block btn-primary rounded m-2" disabled>save route</button>
          {% endif %} -->
        </div>
        <div class="col col-3 d-none d-md-block"></div>
      </div>
    </div>

  </div>
  <div class="row justify-content-center">
    <div class="col col-12 col-lg-8">
      {{ mapbox (lngs[0], lats[0], 15, medium, "cp0")}}
    </div>
    <div class="col col-12 col-lg-4">
      <div class="row">
        <div class="col">
          <div id="summary"></div>
          <div id="directions"></div>
        </div>
      </div>
      <!-- <div class="row"><div class="col">
        <button id="save-route" class="btn btn-block btn-primary">save route</button>
      </div></div> -->
    </div>
  </div>
{% endblock %}
{% block scripts_after %}
<!-- <script src="/static/js/weather.js"></script> -->
<script src="/static/js/routes.js"></script>
{% endblock %}