{% extends 'base.html' %}
{% from 'macros.html' import mapbox %}
{% from 'macros.html' import checkpoint_form, new_checkpoint %}

{% block header %}Make a new SaddleTime Route{% endblock %}
{% block page_sytle %}
  <link rel="stylesheet" href="/static/css/route-form.css">
{% endblock %}
{% block content %}
<div class="row" hidden>
  <table class="table table-dark table-striped bordered-block">
    <thead>
      <tr>
        <th>{{ cps }}</th>
        <th>lat</th>
        <th>lng</th>
        <th>locs</th>
        <th>locs_vals</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(cps+2) %}
      <tr>
        <td>{{ i }}</td>
        <td>{{ lats[i] }}</td>
        <td>{{ lngs[i] }}</td>
        <td>{{ locations[i] }}</td>
        <td>{{ locations_values[i] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <div class="row justify-content-center">
    <div class="col col-12 col-md-5">
      <form action="" id="route-form">
        {% for field in route_form 
          if field.widget.input_type != 'hidden' %}
          <div class="form-group">
            {{ field.label }}
            {{ field (class_="rounded bg-dark text-light form-field form-control") }}</td>
            {% for err in field.errors %}
            {{ err }}
            {% endfor %}
          </div>
          {% endfor %}
          {{ route_form.hidden_tag() }}
        <button type="submit" class="btn btn-info rounded m-2 px-2">preview route</button>
      </form>
    </div>
    <div class="col col-12 col-md-7">
      {{ checkpoint_form(0, locations[0])}}

      {{ new_checkpoint() }}
 
      {% for i in range(1, cps+1) %}
      {{ checkpoint_form(i, locations[i] ) }}
      {{ new_checkpoint() }}
      {% endfor %}
      </ul>
      {{ checkpoint_form(999, locations[cps+1])}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ mapbox (lngs[0], lats[0], 15, large, "cp0")}}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="container">
      <div class="col col-md-8" id="directions"></div>
      <div class="col col-md-4">
        <button id="save-route" class="btn btn-block btn-primary">save route</button>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts_after %}
<!-- <script src="/static/js/weather.js"></script> -->
<script src="/static/js/routes.js"></script>
{% endblock %}