{% extends 'base.html' %}
{% from 'macros.html' import mapbox %}
{% block header %}New User{% endblock %}

{% block page_sytle %}
  <link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
      <div class="col col-12 col-md-6">
          <form action="#" method="POST" novalidate>
            <table>
              {{ form.hidden_tag() }}
              {% for field in form 
                if field.widget.input_type != 'hidden' %}
                <tr>
                  <div class="form-group form-control">
                    <td class="css-txt-right">
                      {{ field.label(class_="") }}
                      {% if field.flags.required %}
                      <sup class="text-warning">*</sup>
                      {% endif %}
                      &nbsp; &nbsp;
                    </td>
                    <td>
                      {{ field(class_="rounded bg-dark text-light") }}
                    </td>
                    <td>
                      {% for err in field.errors %}
                      {{ err }}
                      {% endfor %}
                    </td>
                  </div>
                </tr>
                {% endfor %} 
                <tr>
                  <td colspan="3" class="css-txt-center"><sup class="text-warning">*</sup> indicates required field</td>
                </tr>
                <tr>
                  <td colspan="3" class="css-txt-center">
                    <button class="btn btn-primary px-5 py-1 my-2">signup</button>
                  </td>
                </tr>
            </table>
          </form>
        </div>
      <div class="col col-12 col-md-6">
        {{ mapbox (0, 0, 0, medium, none)}}
      </div>
    </div>
{% endblock %}
{% block scripts_after %}
<script src="/static/js/users.js"></script>
{% endblock %}