{% extends 'base.html' %}
{% from 'macros.html' import mapbox, weather_info %}
{% block page_sytle %}
  <link rel="stylesheet" href="/static/css/user.css">
  <link rel="stylesheet" href="/static/css/weather.css">
  <link rel="stylesheet" href="/static/css/route.css">
{% endblock %}
{% block header %}SaddleTime: {{ user.username }}{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col col-md-6 col-lg-4">
      <div class="card">
        <figure class="figure">
          <img src="{{ user.bike_image_url }}" alt="" class="card-image-top img-fluid">
          {% if user.fav_bike %}
            <figcaption class="figure-caption">{{ user.fav_bike }}</figcaption>
          {% endif %}          
        </figure>
        <div class="row">
          {% if user.profile_pic_image_url %}
          <div class="col col-4">
            <img src="{{ user.profile_pic_image_url }}" alt="" class="user-profile-pic">
          </div>
          <div class="col col-8">
          {% else %}
          <div class="col">
          {% endif %}
            <h3 class="card-title p-2">
              {{ user.username }}
              {% if user.full_name %}
              <br>{{ user.full_name }}
              {% endif %}
            </h3>
            {% if user.bio %}
              <p class="card-text px-2">{{ user.bio }}</p>
            {% endif %}
            <p class="card-text px-2">default route type: &nbsp;{{ user.default_bike_type }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if g.user.username == user.username %}
    <div class="row justify-content-center">
      <div class="col"></div>
      <div class="col">
        <a class="d-block btn btn-primary btn-block">edit profile</a>
      </div>
      <div class="col"></div>
    </div>
  {% endif %}
  <div class="row justify-content-center">
    <div class="col">
      {% if weather %}
        {{ weather_info(weather) }}
        {{ mapbox(user.geocode_lat, user.geocode_lng, 10, large) }}
      {% endif %}
    </div>
    {% if latest_route %}
      <div class="col">
        <h3>Most recently updated route:</h3>
        {{ display_route(latest_route) }}
      </div>
    {% endif %}  
  </div>
{% endblock %}
{% block scripts_after %}
  <script src="/static/js/user.js"></script>
  <script src="/static/js/weather.js"></script>
{% endblock %}