{% extends 'base.html' %}
{% block static_path %}../../{% endblock %}
{% block bootstrap_static_route %}../../{% endblock %}
{% block jasmine_route %}../../{% endblock %}
{% block home_path %}../../{% endblock %}
{% block jasmine_script1_static_route %}../../{% endblock %}
{% block jasmine_script2_static_route %}../../{% endblock %}
{% block jasmine_script3_static_route %}../../{% endblock %}
{% block scripts_path %}../../{% endblock %}
{% block test_scripts_path %}../../{% endblock %}

{% block header %}FOUR-UH-OH-FOUR{% endblock %}
{% block content %}
  <h2>Sorry, we can not locate that route. May we suggest <a href="/routes">a list of public routes?</a>?</h2>
{% endblock %}